html {
    background-image: url("./images/cherry-seamless.jpg");
    background-size: 30vw;
    background-attachment: fixed;
}

.App {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.app-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(1, 25, 54, 0.85);
    box-shadow: 0px 4px 4px rgba(20, 20, 20, 0.5);
    z-index: 1000;
    color: rgb(251,240,222);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.the-real-text {
    font-family: 'Kalam', cursive;
    font-size: 3vw;
}

.kates-text {
    text-shadow: 2px 2px 1px rgb(1, 25, 54);
    margin: 0px 0px 0px 1vw;
    font-family: 'Lilita One', cursive;
    font-size: 5vw;
}

.kitchen-text {
    font-family: 'Voltaire', sans-serif;
    font-size: 4.5vw;
}

.current-page-space {
    padding-top: 13vw;
}

.recipe-div {
    background-color: rgba(228, 195, 6, 0.95);
    width: 100%;
    padding: 2vmin;
    margin-bottom: 1vmin;
    margin-top: 1vmin;
    justify-self: center;
    align-self: center;
    box-shadow: -4px 4px 4px rgba(20, 20, 20, 0.445);
    border-radius: 8pt;
}

.food-img {
    height: 20vh;
}

.img-and-ingredients {
    display: flex;
    justify-content: space-around;
}

.dish-name {
    margin: 0px;
}

.ingredients-div {
    display: flex;
    flex-direction: column;
}

.section-topper-h2 {
    text-align: center;
    font-size: 5vw;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .app-header {
        width: 100%;
    }

    .the-real-text {
        font-size: 6vw;
    }
    
    .kates-text {
        width: 100%;
        text-align: center;
        font-size: 10vw;
    }
    
    .kitchen-text {
        font-size: 9vw;
    }

    .current-page-space {
        padding-top: 30.5vw;
    }
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {
    .app-header {
        width: 100%;
    }

    .the-real-text {
        font-size:4vw;
    }
    
    .kates-text {
        width: 100%;
        text-align: center;
        font-size: 6.6vw;
    }
    
    .kitchen-text {
        font-size: 6vw;
    }

    .current-page-space {
        padding-top: 17vw;
    }
}